# *Типы данных*

# 1. Арифметические операции

In [1]:
value_1 = 7
value_2 = 2

# Начинаем арифметическое шоу!
result_sum = value_1 + value_2       # Сложение.
print(result_sum)

result_diff = value_1 - value_2      # Вычитание.
print(result_diff)

result_multiply = value_1 * value_2  # Умножение.
print(result_multiply)

result_division = value_1 / value_2  # Деление.
print(result_division)

result_division = value_1 // value_1  # Целочисленное деление.
print(result_division)

result = value_1 % value_2 # Остаток от деления
print(result)

9
5
14
3.5
1
1

In [2]:
year = 2030

month_0 = 'Январь'
month_1 = 'Февраль'
month_2 = 'Март'

# Количество дней по месяцам:
days_in_month_0 = 31  # Для января.
days_in_month_1 = 28  # Для февраля.
days_in_month_2 = 31  # Для марта.

# Ниже этого комментария напечатайте информацию о феврале.
# Соблюдайте формат, указанный в условии.

print(month_0, year, f'\nКоличество дней: {days_in_month_0}\n')
print(month_1, year, f'\nКоличество дней: {days_in_month_1}\n')
print(month_2, year, f'\nКоличество дней: {days_in_month_2}\n')

Январь 2030
Количество дней: 31

Февраль 2030
Количество дней: 28

Март 2030
Количество дней: 31

In [3]:
one = 'Раз'
two = 'два'
three = 'три'
four = 'четыре'
five = 'пять'
dash = '-'

print(one, dash, two, dash, three, dash, four, dash, five)
print('Полз питон ложиться спать')

Раз - два - три - четыре - пять
Полз питон ложиться спать

## Изменение символа переноса в функции print() на иное значение

In [4]:
# Вместо переноса строки печатаем пробел, тире и ещё один пробел.
print('Путь джедая Python', end=' — ')  
print('труден, но весело джедаю!')

Путь джедая Python — труден, но весело джедаю!

# 2. True or False

In [5]:
# Присвоим значения двум переменным:
value_1 = 646
value_2 = 38

# ...проверим, равен ли нулю остаток от деления value_1 на value_2.
# Переменной result присвоим результат логического выражения:
result = value_1 % value_2 == 0

# Напечатаем результат:
print('Делится ли value_1 на value_2 без остатка?', result)

Делится ли value_1 на value_2 без остатка? True

## Операторы сравнения

- больше >,
- больше или равно >=,
- меньше <,
- меньше или равно <=,
- равно ==,
- не равно !=.

- `==` Равно: проверяет, что два значения равны.

> Например: `x == 5` вернёт `True`, если x равно 5.
- `!=` Не равно: проверяет, что два значения не равны.

> Например: `x != 5` вернёт `True`, если x равно 6.
- `<` Строго меньше: проверяет, что левое значение меньше правого.

> Например: `x < 5` вернёт `True`, если x меньше 5.
- `>` Строго больше: проверяет, что левое значение больше правого.

> Например: `x > 5` вернёт `True`, если x больше 5.
- `<=` Меньше или равно: проверяет, что левое значение меньше правого или равно ему.

> Например: `x <= 5` вернёт `True`, если x меньше или равно 5.
- `>=` Больше или равно: проверяет, что левое значение больше правого или равно ему.

> Например: `x >= 5` вернёт `True`, если x больше или равно 5.

## Тонкости нейминга

 По имени переменной любой разработчик должен, хотя бы в общих чертах, понять, какие значения могут быть у переменной.
 
 Имена переменных, предназначенных для булевых значений, зачастую начинают со слова is: например, `is_lion_full` — «сыт ли лев?», `is_not_ok` — «не в порядке?», `is_winter` — «зима ли?». 
 
- `is_lion_full = True` — «да, лев сыт»;
- `is_winter = False` — «нет, не зима».

# 3. Списки

In [6]:
# Список строк:
bag = ['шлем', 'свитер', 'шайба', 'пластырь', 'бутерброд', 'телефон', 'коньки']

# Список чисел:
descending_list = [5, 4, 3, 2, 1, 0]

# Список выражений (арифметических и логических):
expressions = [2*2, 2+3, 2>4]

first = 100
second = 200
third = 300

# Список переменных:
variables = [first, second, third]

# Печатаем списки:
print('Список bag:', bag)
print('Список descending_list:', descending_list)
# При печати списка выражений будут напечатаны не сами выражения, 
# а результаты их вычисления:
print('Список выражений expressions:', expressions)

# При печати списка переменных будут напечатаны не имена переменных, 
# а их значения:
print('Список переменных variables:', variables)

Список bag: ['шлем', 'свитер', 'шайба', 'пластырь', 'бутерброд', 'телефон', 'коньки']
Список descending_list: [5, 4, 3, 2, 1, 0]
Список выражений expressions: [4, 5, False]
Список переменных variables: [100, 200, 300]

> Выражение `искомое_значение in список` — это логическое выражение, возвращающее `True` или `False`.

In [7]:
bag = ['шлем', 'свитер', 'шайба', 'пластырь', 'бутерброд', 'телефон', 'коньки']

result_1 = 'бутерброд' in bag  # Есть ли значение 'бутерброд' в списке bag?
# Печатаем:
print('Есть ли бутерброд?',result_1)

result_2 = 'глобус' in bag  # Есть ли значение 'глобус' в списке bag?
# Печатаем:
print('Есть ли глобус?', result_2)

Есть ли бутерброд? True
Есть ли глобус? False

## Заданеие 1 из 3

In [8]:
months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']

# Вычислите длину списка и выведите её вместо многоточия.
print('Длина списка -', len(months))
# Напечатайте список months (на месте многоточия).
print('Список месяцев:', months)

Длина списка - 12
Список месяцев: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']

## Задание 2 из 3

In [9]:
months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']

print('Зима:', months[-1], months[0], months[1])
print('Весна:', months[2], months[3], months[4])
print('Лето:', months[5], months[6], months[7])
print('Осень:', months[8], months[9], months[10])

Зима: Декабрь Январь Февраль
Весна: Март Апрель Май
Лето: Июнь Июль Август
Осень: Сентябрь Октябрь Ноябрь

## Задание 3 из 3

In [10]:
months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']

# Проверка на наличие значения 'Мартобрь' в списке:
print('Есть ли Мартобрь в списке? Ответ:', 'Мартобль' in months)

Есть ли Мартобрь в списке? Ответ: False

# 4. Преобразование типов

## Преобразование числа в строку
>Так, чтобы превратить число в строку — применяют функцию `str()`.

In [11]:
value = 100
text = ' яблок'

# При конкатенации преобразуем значение переменной value в строку:
sentence_0 = str(value) + text
print(sentence_0)

100 яблок

## Преобразование строки в число
>Для приведения строки к целому числу применяют функцию  `int()`.

In [12]:
one_hundred = '100'
five_hundred = '500'
# С помощью int() приводим каждое значение к числу:
result = int(one_hundred) + int(five_hundred)

print(result)

600

*Примеры приведения одних типов данных к другим*

In [13]:
# Объявим несколько переменных разного типа:
elephant = 'слон'  # Строка.
empty = ''         # Пустая строка.
zero = 0           # Число.
one_hundred = 100  # Число.

# Строку можно преобразовать в список: каждая буква станет элементом списка.
# Для этого применяется функция list().
result_0 = list(elephant)
print('Строка в список:', result_0)

# Число можно превратить в значение типа bool: все числа, кроме нуля,
# превратятся в True, а ноль преобразуется в False. 
result_1 = bool(zero)
print('Ноль в булево значение:', result_1)

result_2 = bool(one_hundred)
print('Число 100 в булево значение:', result_2)

# Строку тоже можно привести к bool. Любая непустая строка превратится в True:
result_3 = bool(elephant)
print('Строка «слон» в булево значение:', result_3)

# Пустая строка превратится в False:
result_4 = bool(empty)
print('Пустая строка в булево значение:', result_4)

Строка в список: ['с', 'л', 'о', 'н']
Ноль в булево значение: False
Число 100 в булево значение: True
Строка «слон» в булево значение: True
Пустая строка в булево значение: False

## Задание

In [16]:
# Пользователь вводит нужный ему год, например - 2030
year = 2030

# Названия месяцев в списке:
months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']

# Готовим строку с сегодняшней датой:
today = 'Сегодняшнее число: ' + str(11) + ', месяц: ' + months[10] + ', год: ' + str(year)

# Печатаем результат:
print(today)

Сегодняшнее число: 11, месяц: Ноябрь, год: 2030