На основе всех проведённых экспериментов можно собрать базу данных из пяти связанных таблиц.

![alt text](https://pictures.s3.yandex.net/resources/S02_234_1678067370.png)

***
## Изменение таблицы: ALTER TABLE

Структуру таблиц можно изменять: можно добавлять, переименовывать или удалять колонки; таблицы можно переименовывать или удалять. Это делается командой `ALTER TABLE имя_таблицы описание_операции`.

**Переименование таблицы:**

```sql
ALTER TABLE <имя таблицы>
RENAME TO <новое имя таблицы>; 
```
**Добавление колонки:**

```sql
ALTER TABLE <название таблицы> 
ADD COLUMN <имя колонки> <тип колонки>; 
```

По умолчанию SQLite добавляет новую колонку в конец списка колонок.

**Переименование колонки:**

```sql
ALTER TABLE <название таблицы>
RENAME COLUMN <старое имя колонки>
TO <новое имя колонки>; 
```

**Удаление колонки:**

В классическом SQL сработает вот такая конструкция:

```sql
ALTER TABLE <название таблицы>
DROP COLUMN <имя колонки>;
```

Но в SQLite удаление колонок доступно только с версии 3.35.0. Для более старых версий для удаления колонки приходится идти сложным путём:

1. Создать копию таблицы, но без той колонки, которую нужно удалить.

2. Перенести в новую таблицу информацию из исходной таблицы.

3. Удалить исходную таблицу.

4. Переименовать созданную.

Документация SQLite [даст более детальную и глубокую информацию по работе с колонками](https://www.sqlite.org/lang_altertable.html).

***
## Удаление таблиц

Команда для  удаления таблицы выглядит так:

```sql
DROP TABLE <имя таблицы>; 
```

***
## Ссылочная целостность данных

При удалении таблиц возникает серьёзная опасность: помимо того, что будут удалены данные, может быть нарушена **ссылочная целостность** базы. На удаляемую таблицу могут ссылаться другие таблицы; ссылки останутся, а таблицы не станет. База перестанет работать.

Удалим для эксперимента таблицу **original_titles**:
```sql
DROP TABLE original_titles; 
```

Ничего хорошего не получится: ссылка из колонки `original_title_id` таблицы **video_products** повиснет в воздухе:

![alt text](https://pictures.s3.yandex.net/resources/S02_235_1678067517.png)

Подобная же история может случиться и при удалении колонок, и при их переименовании.

При изменении первичных и внешних ключей важно соблюдать **ссылочную целостность данных** (referential integrity). Основная идея в том, чтобы не было «битых», ведущих в никуда ссылок на другие таблицы.

Вот примеры нарушений целостности данных:

* **Аномалия удаления** (deletion anomaly): если из таблицы удалена строка, на которую ссылается внешний ключ.

* **Аномалия вставки** (insertion anomaly): если добавлена запись с внешним ключом, но этот внешний ключ не соответствует ни одному первичному ключу из связанной таблицы.

* **Аномалии обновления** (update anomaly): при изменении данных в одной строке они могут прийти в противоречие с данными из другой строки: например, изменён PK, на который ссылается FK из другой таблицы.


[Шпоргалка](https://code.s3.yandex.net/Python-dev/cheatsheets/028-sql-shpora/028-sql-shpora.html)

In [ ]:
import sqlite3

con = sqlite3.connect('db.sqlite')
cur = con.cursor()

cur.executescript('''
ALTER TABLE ice_cream 
ADD COLUMN is_published INTEGER;
                  
ALTER TABLE ice_cream 
ADD COLUMN is_on_main INTEGER;
''')

con.close()

In [ ]:
import sqlite3

con = sqlite3.connect('db.sqlite')
cur = con.cursor()

cur.executescript('''
ALTER TABLE ice_cream 
RENAME COLUMN description
TO specification;
''')

con.close()

In [ ]:
import sqlite3

con = sqlite3.connect('db.sqlite')
cur = con.cursor()

cur.executescript('''
DROP TABLE ice_cream;
''')

con.close()