## Запуск sqlite из командной строки

Введите в терминал команду `sqlite3` (или `winpty sqlite3` если работаете через Git Bash под Windows); появится ответ (в зависимости от операционной системы текст ответа может отличаться, но это не повлияет на работу):

При выполнении команды `sqlite3` 

* была создана «виртуальная база» в памяти компьютера;

* оболочка sqlite подключилась к этой базе и готова работать с ней;

* по окончании работы база будет стёрта.

Удобный вариант для экспериментов. 

Поговорим с базой на её языке

Выполним типичные операции с БД:

* создадим таблицу в БД,

* заполним таблицу данными,

* запросим содержимое этой таблицы.

Для начала создадим в пустой базе данных таблицу и добавим в неё пару записей

Запросы вводите построчно, каждый запрос по очереди отправляйте нажатием на Enter.

```sql
CREATE TABLE video_products (title TEXT, release_year INTEGER);
-- СОЗДАТЬ ТАБЛИЦУ video_products со столбцами(title TEXT, release_year INTEGER);

-- Создаём запись в таблице video_products:
INSERT INTO video_products VALUES('Весёлые мелодии', 1930);
-- ВСТАВИТЬ В таблицу video_products ЗНАЧЕНИЯ('Весёлые мелодии', 1930);

-- Создаём ещё одну запись в таблице video_products:
INSERT INTO video_products VALUES('Кто подставил кролика Роджера', 1988);
-- ВСТАВИТЬ В таблицу video_products ЗНАЧЕНИЯ('Кто подставил кролика Роджера', 1988);
```

В результате этих запросов 

* в базе данных создана таблица video_products с двумя столбцами — `title` и `release_year`;

* в таблице созданы две записи.

Теперь из таблицы **video_products** можно получить данные. При экспериментах в консоли ответ будет выведен прямо в консоль, а вот если запрос к БД отправлен из Python-приложения — то данные, полученные из БД, могут быть обработаны программой и, например, отображены на веб-странице.

```sql
SELECT * FROM video_products;
-- ВЕРНУТЬ все поля (символ * означает "все") записей ИЗ таблицы video_products.
```

```sql
SELECT title FROM video_products WHERE release_year = 1930;
-- ВЕРНУТЬ значения поля title ИЗ таблицы video_products
-- тех записей, ГДЕ значение поля release_year равно 1930.
```

Чтобы выйти из оболочки sqlite3, можно выполнить команду `.exit` или просто закрыть окно терминала. Виртуальная база перестанет существовать.

Точно так же можно взаимодействовать и с реальной базой, которая хранится на жёстком диске сервера или вашего компьютера. Для этого при вызове утилиты sqlite3 нужно указать имя файла с базой данных, например, вот так:

```sql
sqlite3 db.sqlite
```